:root {
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --primary-gray-color: #907e82;
  --main-red-color: #d41443;
  --secondary-rose-color: #ffa5ba;
  --background-header-color: #ffb8ca;
  --background-orange-color: #f0d1a5;
  --background-green-color: #c2e297;
  --background-about-color: #fff5f6;
  --background-review-color: #fafafa;
  --fill-gray-color: #e1e1e1;
}
