:root {
  --primary-white-color: rgba(255, 255, 255, 1);
  --primary-black-color: rgba(0, 0, 0, 1);
  --primary-gray-color: rgba(144, 126, 130, 1);
  --main-red-color: rgba(212, 20, 67, 1);
  --secondary-rose-color: rgba(255, 165, 186, 1);
  --background-header-color: rgba(255, 184, 202, 1);
  --background-orange-color: rgba(240, 209, 165, 1);
  --background-green-color: rgba(194, 226, 151, 1);
  --background-about-color: rgba(255, 245, 246, 1);
  --background-contacts-color: rgba(250, 250, 250, 1);
}

//
