
    <section class="about">
        <div class="container about-container">
            <label class="about-section-text small-title">tradition and love</label>
            <h2 class="about-section-title title">how it’s made?</h2>
            <div class="about-wrapp">
                <ul class="about-img">
                    <li class="about-img__item cow-img-item">
                        <picture>
                            <source srcset="./images/about/milk-cow-320-1x.png 1x,
                                    ./images/about/milk-cow-320-2x.png 2x" media="(min-width: 320px)" />
                            <source srcset="./images/about/milk-cow-768-1x.png 1x,
                                    ./images/about/milk-cow-768-2x.png 2x" media="(min-width: 768x)" />
                            <source srcset="./images/about/milk-cow-1200-1x.png 1x,
                                    ./images/about/milk-cow-1200-2x.png 2x" media="(min-width: 1280px)" />
                            <img class="about-img__image cow-img" src="./images/about/milk-cow-320-1x.png" alt="cow"
                                width="">

                        </picture>
                    </li>
                    <!-- <li class="about-img__item ">
                        <picture>
                            <source srcset="./images/about/milk-wave-320-1x.png 1x,
                                        ./images/about/milk-wave-320-2x.png 2x" media="(min-width: 320px)" />
                            <source srcset="./images/about/milk-wave-1200-1x.png 1x,
                                        ./images/about/milk-wave-1200-2x.png 2x" media="(min-width: 1280)" />
                            <img class="about-img__image milk-img" src="./images/about/milk-wave-320-1x.png" alt="milk"
                                width="" height="">
                        </picture>
                    </li> -->
                </ul>
                <div class=" about-text-wrapp">
                    <h3 class="about-title">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                        cursus,
                        faucibus lorem eget, egestas
                        eros.
                        Maecenas eleifend erat at justo fringilla.</h3>
                    <p class="about-text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
                        rhoncus
                        orci in imperdiet
                        placerat.
                        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                        tincidunt.

                        <span class="about-text__part">Aliquam erat volutpat. Aenean accumsan.</span>
                    </p>
                    <div class="btn-wrapp">
                        <button class="btn-big btn-big__light" type="button">Read more 
                            <svg class="icon-details" width="10px" height="12px"
                                height="20">
                                <use href="./images/svg/icons.svg#icon-pointer-right"></use>

                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
