<section class="advantages">
  <div class="container">
    <h2 class="advantages-title">advantages</h2>
  <div class="advantages-wrapp">
    <ul class="advantages-list">
      <li class="advantages-list__item">
        <picture>
          <source srcset="./images/advantages/advantages-1-320-1x.png 1x,
                          ./images/advantages/advantages-1-320-2x.png 2x" media="(min-width: 320px)" />
          <source srcset="./images/advantages/advantages-1-768-1x.png 1x,
                          ./images/advantages/advantages-1-768-2x.png 2x" media="(min-width: 768x)" />
          <source srcset="./images/advantages/advantages-1-1200-1x.png 1x,
                          ./images/advantages/advantages-1-1200-2x.png 2x" media="(min-width: 1280px)" />
          <img class="advantages-list__img" src="./images/advantages/advantages-1-320-1x.png" alt="glass" width="">
        </picture>
        <p class="advantages-list_info">721</p>
        <p class="advantages-list_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      
      <li class="advantages-list__item">
                <picture>
                  <source srcset="./images/advantages/advantages-2-320-1x.png 1x,
                                          ./images/advantages/advantages-2-320-2x.png 2x" media="(min-width: 320px)" />
                  <source srcset="./images/advantages/advantages-2-768-1x.png 1x,
                                          ./images/advantages/advantages-2-768-2x.png 2x" media="(min-width: 768x)" />
                  <source srcset="./images/advantages/advantages-2-1200-1x.png 1x,
                                          ./images/advantages/advantages-2-1200-2x.png 2x" media="(min-width: 1280px)" />
                  <img class="advantages-list__img" src="./images/advantages/advantages-2-320-1x.png" alt="apple" width="">
                </picture>
        <p class="advantages-list_info">16kg</p>
        <p class="advantages-list_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>      
        <li class="advantages-list__item">
                  <picture>
                    <source srcset="./images/advantages/advantages-3-320-1x.png 1x,
                                            ./images/advantages/advantages-3-320-2x.png 2x" media="(min-width: 320px)" />
                    <source srcset="./images/advantages/advantages-3-768-1x.png 1x,
                                            ./images/advantages/advantages-3-768-2x.png 2x" media="(min-width: 768x)" />
                    <source srcset="./images/advantages/advantages-3-1200-1x.png 1x,
                                            ./images/advantages/advantages-3-1200-2x.png 2x" media="(min-width: 1280px)" />
                    <img class="advantages-list__img" src="./images/advantages/advantages-3-320-1x.png" alt="heart" width="">
                  </picture>
        <p class="advantages-list_info">84</p>
        <p class="advantages-list_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>  

      </ul>
  </div>
  </div>
</section>