<section class="contacts" id="contacts">
  <div class="container">
    <h1 class="contacts__title">Contacts</h1>

    <div class="contacts__boxes">
      <div class="contacts__box">
        <div class="contacts__box-info">
          <p class="contacts__name contacts-text">CAFE</p>
          <p class="contacts__text contacts-text">Chicago</p>
          <p class="contacts__description contacts-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts-schedule">
          <p class="contacts-schedule__text contacts-text">Monday - Friday</p>
          <p class="contacts__text--red contacts-text">06:00 AM - 10:00 PM</p>
          <p class="contacts-schedule__text contacts-text">Saturday - Sunday</p>
          <p class="contacts__text--red contacts-text">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts__address">
          <address>
            <a class="contacts__address-link contacts-text" href="tel:+610383766284 "
              >+61(0) 383 766 284
            </a>
            <a class="contacts__address-link contacts-text" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </address>
        </div>
      </div>
      <div class="contacts__box">
        <div class="contacts__box-info">
          <p class="contacts__name--green contacts-text">FOODTRUCK</p>
          <p class="contacts__text contacts-text">Los Angeles</p>
          <p class="contacts__description contacts-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts-schedule">
          <p class="contacts-schedule__text contacts-text">Monday - Friday</p>
          <p class="contacts__text--red contacts-text">06:00 AM - 10:00 PM</p>
          <p class="contacts-schedule__text contacts-text">Saturday - Sunday</p>
          <p class="contacts__text--red contacts-text">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts__address">
          <address>
            <a class="contacts__address-link contacts-text" href="tel:+610383766284 "
              >+61(0) 383 766 284
            </a>
            <a class="contacts__address-link contacts-text" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </address>
        </div>
      </div>
      <div class="contacts__box">
        <div class="contacts__box-info">
          <p class="contacts__name contacts-text">CAFE</p>
          <p class="contacts__text contacts-text">New York</p>
          <p class="contacts__description contacts-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts-schedule">
          <p class="contacts-schedule__text contacts-text">Monday - Friday</p>
          <p class="contacts__text--red contacts-text">06:00 AM - 10:00 PM</p>
          <p class="contacts-schedule__text contacts-text">Saturday - Sunday</p>
          <p class="contacts__text--red contacts-text">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts__address">
          <address>
            <a class="contacts__address-link contacts-text" href="tel:+610383766284 "
              >+61(0) 383 766 284
            </a>
            <a class="contacts__address-link contacts-text" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </address>
        </div>
      </div>
    </div>
    <div class="contacts-buttons">
      <button
        type="button"
        class="contacts-button__btn--red btn-big btn-big__dark"
        data-modal-contacts-open
      >
        Our Locations
        <svg class="contacts__icon-white" width="8" height="10">
          <use href="./images/svg/icons.svg#icon-pointer-right"></use>
        </svg>
      </button>

      <div class="backdrop-contacts is-hidden" data-modal-contacts>
        <div class="modal-contacts">
          <img class="modal-contacts__img" src="./images/map.png" alt="Map of location" />
          <button type="reset" class="modal-contacts__close-btn" data-modal-contacts-close>
            <svg class="modal-contacts-icon" width="12" height="12">
              <use href="./images/svg/icons.svg#icon-house"></use>
            </svg>
          </button>
        </div>
      </div>

      <button
        type="button"
        class="contacts-button__btn--white btn-big btn-big__light"
        data-modal-contacts-btn-open
      >
        Franchise
        <svg class="contacts__icon-red" width="8" height="10">
          <use href="./images/svg/icons.svg#icon-pointer-right"></use>
        </svg>
      </button>

      <div class="backdrop-contacts-btn is-hidden" data-modal-contacts-btn>
        <div class="modal-contacts-btn">
          <img class="modal-contacts__img" src="./images/map.png" alt="Map of location" />
          <button type="reset" class="modal-contacts-btn__close-btn" data-modal-contacts-btn-close>
            <svg class="modal-contacts-icon" width="15" height="15">
              <use href="./images/svg/icons.svg#icon-house"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
