<section class="contacts">
  <div class="container">
    <h1 hidden class="contacts__title">Contacts</h1>
    <div class="contacts-top">
      <img
        class="contacts-top__img"
        src="../images/reviews/rewuer-1-1x.png"
        alt="Emily, Los Angeles "
      />
      <img class="contacts-top__img" src="../images/reviews/rewuer-2-1x.png" alt="Emma, Chicago" />
      <img
        class="contacts-top__img"
        src="../images/reviews/rewuer-3-1x.png"
        alt="Julia, New York"
      />
      <div class="contacts-top__quote">
        <svg class="contacts-icon__quote" width="54" height="40">
          <use href="../images/svg/icons.svg#icon-quotes"></use>
        </svg>
        <q
          >Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
          hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</q
        >
      </div>
      <div class="contacts-top__points">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <p>Emily, Los Angeles</p>
      <p>Emma, Chicago</p>
      <p>Julia, New York</p>
      <div class="contacts-top__slider">
        <span>
          <svg class="contacts-icon__clider active" width="12" height="12">
            <use href="../images/svg/icons.svg#icon-house"></use>
          </svg>
        </span>
        <span>
          <svg class="contacts-icon__clider" width="12" height="12">
            <use href="../images/svg/icons.svg#icon-house"></use>
          </svg>
        </span>
        <span>
          <svg class="contacts-icon__clider" width="12" height="12">
            <use href="../images/svg/icons.svg#icon-house"></use>
          </svg>
        </span>
      </div>
    </div>
    <div class="contacts-bottom">
      <div class="contacts-bottom__box">
        <div class="contacts-bottom__box-info">
          <p class="contacts-bottom__name">CAFE</p>
          <p class="contacts-bottom__text">Chicago</p>
          <p class="contacts-bottom__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts-bottom-schedule">
          <p class="contacts-bottom__text">Monday - Friday</p>
          <p class="contacts-bottom__text--red">06:00 AM - 10:00 PM</p>
          <p class="contacts-bottom__text">Saturday - Sunday</p>
          <p class="contacts-bottom__text--red">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts-bottom__address">
          <address>
            <a href="tel:+610383766284 ">+61(0) 383 766 284 </a>
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </address>
        </div>
      </div>
      <div class="contacts-bottom__box">
        <div class="contacts-bottom__box-info">
          <p class="contacts-bottom__name">FOODTRUCK</p>
          <p class="contacts-bottom__text">Los Angeles</p>
          <p class="contacts-bottom__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts-bottom-schedule">
          <p class="contacts-bottom__text">Monday - Friday</p>
          <p class="contacts-bottom__text--red">06:00 AM - 10:00 PM</p>
          <p class="contacts-bottom__text">Saturday - Sunday</p>
          <p class="contacts-bottom__text--red">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts-bottom__address">
          <address>
            <a href="tel:+610383766284 ">+61(0) 383 766 284 </a>
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </address>
        </div>
      </div>
      <div class="contacts-bottom__box">
        <div class="contacts-bottom__box-info">
          <p class="contacts-bottom__name">CAFE</p>
          <p class="contacts-bottom__text">New York</p>
          <p class="contacts-bottom__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts-bottom-schedule">
          <p class="contacts-bottom__text">Monday - Friday</p>
          <p class="contacts-bottom__text--red">06:00 AM - 10:00 PM</p>
          <p class="contacts-bottom__text">Saturday - Sunday</p>
          <p class="contacts-bottom__text--red">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts-bottom__address">
          <address>
            <a href="tel:+610383766284 ">+61(0) 383 766 284 </a>
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </address>
        </div>
      </div>
    </div>
    <div class="contacts-buttons">
      <button type="button" class="contacts-button__btn--red">
        Our Locations
        <svg class="contacts-icon" width="4" height="8">
          <use href="../images/svg/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <button type="button" class="contacts-button__btn">
        Franchise
        <svg class="contacts-icon" width="4" height="8">
          <use href="../images/svg/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
