<section class="customer-reviews" id="customer-reviews">
  <div class="container">
    <div class="swiper mySwiper slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture class="customer-reviews__pic">
            <source
              srcset="./images/reviews/rewuer-1-1x.png 1x, ./images/reviews/rewuer-1-2x.png 2x"
              media="(min-width: 320px)" />
            <img
              class="customer-reviews__img"
              src="./images/reviews/rewuer-1-2x.png"
              alt="girl"
              width="85"
              height="85"
          /></picture>
          <div class="customer-reviews__wrapper">
            <p class="customer-reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <svg class="three-point-small">
            <use href="../src/images/svg/icons.svg#icon-circlesbig"></use>
          </svg>
          <p class="customer-reviews__disc">Anny, New York</p>
        </div>

        <div class="swiper-slide">
          <picture class="customer-reviews__pic">
            <source
              srcset="./images/reviews/rewuer-2-1x.png 1x, ./images/reviews/rewuer-2-2x.png 2x"
              media="(min-width: 320px)" />
            <img
              class="customer-reviews__img"
              src="./images/reviews/rewuer-2-2x.png"
              alt="girl"
              width="85"
              height="85"
          /></picture>
          <div class="customer-reviews__wrapper">
            <p class="customer-reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <svg class="three-point-small">
            <use href="../src/images/svg/icons.svg#icon-circlesbig"></use>
          </svg>
          <p class="customer-reviews__disc">Julia, Washington</p>
        </div>
        <div class="swiper-slide">
          <picture class="customer-reviews__pic">
            <source
              srcset="./images/reviews/rewuer-3-1x.png 1x, ./images/reviews/rewuer-3-2x.png 2x"
              media="(min-width: 320px)" />
            <img
              class="customer-reviews__img"
              src="./images/reviews/rewuer-3-2x.png"
              alt="girl"
              width="85"
              height="85"
          /></picture>
          <div class="customer-reviews__wrapper">
            <p class="customer-reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <svg class="three-point-small">
            <use href="../src/images/svg/icons.svg#icon-circlesbig"></use>
          </svg>
          <p class="customer-reviews__disc">Emily, Los Angeles</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
