<section class="customer-review">
  <div class="container">
    <p>Customer review section</p>

    <div>
      <ul>
        <li>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias debitis rerum modi pariatur. Perspiciatis nam tempora optio, autem sint ad iusto a aspernatur reprehenderit dignissimos non molestiae esse minus. Explicabo?</p>
        </li>
        <li>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus molestiae distinctio repellat id quisquam recusandae aperiam quaerat, ipsa ex impedit. Officiis, quasi quae dignissimos natus consectetur velit, debitis nesciunt eos saepe consequuntur adipisci laudantium? Ratione, id voluptate. Nesciunt reprehenderit necessitatibus aliquid magni ullam earum voluptate assumenda, vel enim in id.</p>
        </li>
        <li>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident debitis reprehenderit, minima iste at quas dolores mollitia magni odit laborum.</p>
        </li>
        <li>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt iste doloribus maxime obcaecati at, accusamus repellat dolores ipsa, dignissimos sed corrupti ipsum expedita quidem cupiditate officiis autem cum repellendus est?</p>
        </li>
      </ul>
    </div>

  </div>


</section>