<div class="mobile-backdrop mobile-backdrop_hidden" backdrop-modal>

<div class="mobile-menu mobile-menu_hidden" data-modal>
  <nav class="mobile-menu__nav">
    <button class="mobile-menu__button-close" type="button" data-modal-close backdrop-close>
      <svg width="14" height="14" class="mobile-menu__btn-icon">
        <use href="./images/svg/icons.svg#icon-close"></use>
      </svg>
    </button>
    <button class="btn-big btn-big__light mobile-menu__button" type="button">
      Buy now
      <svg width="11" height="11" class="btn-icon__light">
        <use href="./images/svg/icons.svg#icon-pointer-right"></use>
      </svg>
    </button>
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="./index.html">Home</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#contacts">About us</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#about">How it’s made?</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#products">Our products</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#footer">Contact</a></li>
    </ul>
  </nav>
</div>

</div>