<section class="products" id="product">
  <div class="container">
    <p class="small-title products__heading">100% natural</p>
    <h2 class="title products__title">products</h2>
    <ul class="products__list">
      <li class="products__item products__ice-cream">
        <div class="">
          <h3 class="small-title-light products__preview">ice cream</h3>
          <svg class="three-point">
            <use href="../src/images/svg/icons.svg#icon-circlesbig"></use>
          </svg>
          <div class="text-wrapper">
            <p data-more-1="" class="text-overlay">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam expedita, laborum
              labore perferendis velit aliquid esse a? Deserunt iusto, ipsum accusamus magni
              explicabo porro eveniet quisquam amet corrupti itaque modi ipsam alias! Cumque sunt
              maiores natus ipsa iure hic doloremque, quis quos! Aute m sit sint laboriosam
              architecto maiores voluptas at?
            </p>
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
          </div>
          <div>
            <button type="button" data-more-button-1="" class="products__button">
              <svg class="arrow-right" width="15px" height="20px">
                <use href="../src/images/svg/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="products__item products__ice-coffee">
        <div class="">
          <h3 class="small-title-light products__preview">ice coffee</h3>
          <svg class="three-point">
            <use href="../src/images/svg/icons.svg#icon-circlesbig"></use>
          </svg>
          <div class="text-wrapper">
            <p data-more-2="" class="text-overlay">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam expedita, laborum
              labore perferendis velit aliquid esse a? Deserunt iusto, ipsum accusamus magni
              explicabo porro eveniet quisquam amet corrupti itaque modi ipsam alias! Cumque sunt
              maiores natus ipsa iure hic doloremque, quis quos! Aute m sit sint laboriosam
              architecto maiores voluptas at?
            </p>
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
          </div>
          <button type="button" data-more-button-2="" class="products__button">
            <svg class="arrow-right" width="15px" height="20px">
              <use href="../src/images/svg/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item products__milkshakes">
        <div class="">
          <h3 class="small-title-light products__preview">milkshakes</h3>
          <svg class="three-point">
            <use href="../src/images/svg/icons.svg#icon-circlesbig"></use>
          </svg>
          <div class="text-wrapper">
            <p data-more-3="" class="text-overlay">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam expedita, laborum
              labore perferendis velit aliquid esse a? Deserunt iusto, ipsum accusamus magni
              explicabo porro eveniet quisquam amet corrupti itaque modi ipsam alias! Cumque sunt
              maiores natus ipsa iure hic doloremque, quis quos! Aute m sit sint laboriosam
              architecto maiores voluptas at?
            </p>
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
          </div>
          <button type="button" data-more-button-3="" class="products__button">
            <svg class="arrow-right" width="15px" height="20px">
              <use href="../src/images/svg/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
