.about {
  background-color: var(--background-about-color);
  padding-top: 125px;
  @media screen and (min-width: 768px) {
    padding-top: 130px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 125px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

.about-section-text {
  text-align: center;
  margin-bottom: 15px;
  display: block;
}

.about-section-title {
  text-align: center;
  margin-bottom: 26px;
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
}
.about-img-wrapp {
  padding-left: 0px;
  padding-right: 0px;
}
.cow-img-item {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    margin-right: 17px;
    margin-left: 0;
    width: 340px;
  }
  @media screen and (min-width: 1280px) {
    width: 516px;
    margin-right: 74px;
  }
}
.about-text-wrapp {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 50px;
  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.about-title {
  color: var(--primary-black-color);
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.78;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
  }
}
.about-text {
  color: var(--primary-gray-color);
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.58;
  letter-spacing: 0.01em;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.78;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    font-family: DM Sans;
    line-height: 1.93;
    letter-spacing: 0.04em;
  }
}

.about-text__part {
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 62px;
    margin-top: 10px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 45px;
    margin-top: 20px;
  }
}

.about-list_numbers {
  color: var(--main-red-color);
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.about-list_text {
  color: var(--primary-black-color);
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
}

.icon-details {
  fill: var(--main-red-color);
  display: flex;
  margin-left: 10px;
}

.cow-img {
  @media screen and (min-width: 768px) {
    width: 340px;
    min-height: 339px;
    margin-left: auto;
  }
  @media screen and (min-width: 1280px) {
    width: 516px;
    min-height: 516px;
  }
}
.about-wrapp {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
.about {
  background-image: url(../images/about/milk-wave-320-1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 92%;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/about/milk-wave-320-2x.png);
  }
  @media screen and (min-width: 769px) {
    background-image: none;
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/about/milk-wave-1200-1x.png);
    background-position: 50% 120%;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/about/milk-wave-1200-1x.png);
    }
  }
}
