.contacts {
  padding-top: 43px;
  padding-bottom: 56px;
  background: linear-gradient(
    to bottom,
    var(--primary-white-color) 10.5%,
    var(--background-about-color) 10.5%,
    var(--background-about-color) 89%
  );

  @media screen and(min-width:768px) {
    padding-top: 60px;
    padding-bottom: 83px;
    background: linear-gradient(
      to bottom,
      var(--primary-white-color) 21%,
      var(--background-about-color) 21%,
      var(--background-about-color) 79%
    );
  }
  @media screen and(min-width:1280px) {
    padding-top: 66px;
    padding-bottom: 83px;
    background-image: url(../images/contacts/spots-1280-1x.png),
      linear-gradient(
        to bottom,
        var(--primary-white-color) 21%,
        var(--background-about-color) 21%,
        var(--background-about-color) 79%
      );
    background-repeat: no-repeat;
    background-position: center;
  }
}
.contacts__title {
  visibility: hidden;
}

.contacts-text {
  font-family: 'DM Sans', 'sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}
.contacts__boxes {
  margin-bottom: 54px;

  @media screen and(min-width:768px) {
    display: flex;
  }
  @media screen and(min-width:1280px) {
  }
}
.contacts__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 43px 20px;
  margin: 0 auto;
  width: 220px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media screen and(min-width:480px) {
    width: 320px;
  }
  @media screen and(min-width:768px) {
    width: 220px;
    &:not(:last-child) {
      margin-bottom: 0;
    }
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @media screen and(min-width:1280px) {
    width: 330px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.contacts__box-info {
  width: 179px;

  &:not(:first-child) {
    margin-top: 25px;
  }

  &:after {
    content: '';
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 179px;
    height: 1px;
    background-color: var(--fill-gray-color);

    @media screen and(min-width:480px) {
      width: 100%;
    }
  }
  @media screen and(min-width:480px) {
    width: 100%;
  }
}
.contacts__name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 16px;
  margin-bottom: 25px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  background-color: var(--background-orange-color);
  border-radius: 4px;
  @media screen and(min-width:768px) {
    font-size: 16px;
  }
}
.contacts__name--green {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  width: 130px;
  height: 16px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  background-color: var(--background-green-color);
  border-radius: 4px;
  @media screen and(min-width:768px) {
    font-size: 16px;
  }
}
.contacts__description {
  line-height: 1.5;
  color: var(--primary-gray-color);
  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: 1.66;
  }
  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: 1.83;
  }
  @media screen and(min-width:1280px) {
    font-size: 16px;
  }
}
.contacts-schedule {
  &:after {
    content: '';
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 179px;
    height: 1px;
    background-color: var(--fill-gray-color);
    @media screen and(min-width:480px) {
      width: 100%;
    }
  }
}
.contacts__text {
  line-height: 1.86;
  margin-bottom: 10px;
  color: var(--primary-black-color);
  @media screen and(min-width:768px) {
    font-size: 14px;
  }
  @media screen and(min-width:1280px) {
    font-size: 16px;
  }
}
.contacts__text--red {
  line-height: 1.86;
  color: var(--secondary-rose-color);
  margin-bottom: 10px;
  @media screen and(min-width:768px) {
    font-size: 14px;
  }
  @media screen and(min-width:1280px) {
    font-size: 16px;
  }
}
.contacts-schedule__text {
  line-height: 1.86;
  color: var(--primary-black-color);
  @media screen and(min-width:768px) {
    font-size: 14px;
  }
  @media screen and(min-width:1280px) {
    font-size: 16px;
  }
}

.contacts__address-link {
  display: inline-block;
  line-height: 1.5;
  color: var(--primary-gray-color);
  @media screen and(min-width:768px) {
    font-size: 14px;
  }
  @media screen and(min-width:1280px) {
    font-size: 16px;
  }
}
.contacts__address address {
  display: flex;
  flex-direction: column;
}
.contacts-buttons {
  display: flex;
  flex-direction: column;
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
  }
}
.contacts-button__btn--red {
  margin: 0 auto;
  @media screen and(min-width:768px) {
    margin: 0;
    margin-right: 15px;
  }
}
.contacts-button__btn--white {
  margin: 0 auto;
  margin-top: 10px;
  background-color: var(--primary-white-color);
  @media screen and(min-width:768px) {
    margin: 0;
  }
}
.contacts__icon-white {
  margin-left: 8px;
  fill: var(--primary-white-color);
}
.contacts__icon-red {
  margin-left: 13px;
  fill: var(--main-red-color);
}
.backdrop-contacts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9999;
}
.backdrop-contacts.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(2);
}

.modal-contacts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 300px;
  min-width: 300px;
  background-color: var(--background-about-color);
  width: 90%;
  border-radius: 15px;
  overflow: hidden;
  @media screen and(min-width:768px) {
    min-width: 650px;
  }
  @media screen and(min-width:1280px) {
    min-width: 900px;
  }
}
.modal-contacts-icon {
  fill: var(--primary-gray-color);
  &:hover {
    fill: var(--main-red-color);
  }
}
.modal-contacts__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-contacts-btn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9999;
}
.backdrop-contacts-btn.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(2);
}

.modal-contacts-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 300px;
  min-width: 300px;
  background-color: var(--background-about-color);
  width: 90%;
  border-radius: 15px;
  overflow: hidden;
  @media screen and(min-width:768px) {
    min-width: 650px;
  }
  @media screen and(min-width:1280px) {
    min-width: 900px;
  }
}
.modal-contacts-icon {
  fill: var(--primary-gray-color);
  &:hover {
    fill: var(--main-red-color);
  }
}
.modal-contacts-btn__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.map {
  padding-bottom: 56.25%;

  @media screen and(min-width:768px) {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
}
.map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

// ABOUT
