@media screen and (min-width: 1280px) {
  .mobile-menu {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}

.mobile-menu {
  top: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 250px;
  background-color: #e17992;
  padding: 60px 20px;
  z-index: 10;
  transition: right ease 1.5s;
}

.mobile-menu_hidden {
  transition: right ease 2s;
  right: -500px;
}

.mobile-menu__button-close {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 23px;
  right: 28px;
  z-index: 11;
  border: none;
  background-color: transparent;
}

.mobile-menu__btn-icon {
  // fill: var(--primary-white-color);
  stroke: var(--primary-white-color);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    // fill: var(--main-red-color);
    stroke: var(--main-red-color);
  }
}
.mobile-menu__button {
  width: 100%;
  margin-bottom: 19px;
  text-align: center;
}
.mobile-menu__item {
  padding-top: 13px;
  padding-bottom: 13px;
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
}
.mobile-menu__link {
  font-family: DM Sans;
  text-decoration: none;
  color: var(--primary-white-color);
  @include font(700, 14px, 18px, 0.04em);
  &:hover,
  &:focus {
    color: var(--main-red-color);
  }
}

.mobile-backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(225, 121, 146, 0.4);
  position: fixed;
  top: 0;
  z-index: 10;
  transition: all 1250ms cubic-bezier(0.4, 0, 0.2, 1);

  &_hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
