.products {
  padding-top: 121px;
  padding-bottom: 98px;
}

.burger {
  stroke: black;
}

.products__heading {
  text-align: center;
  margin-bottom: 15px;
}
.products__title {
  text-align: center;
  margin-bottom: 144px;
}

.products__item {
  position: relative;
  text-align: center;
  width: 100%;
  height: 485px;
  background: #ffb8ca;
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  &::before {
    position: absolute;
    display: block;
    top: -113px;
    left: 50%;
    content: '';
    width: 249px;
    height: 252px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
    transform: translate(-50%, 0) scale(1);
  }
}

.products__preview {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 121px;
  color: #ffffff;
}

.three-point {
  width: 26px;
  height: 6px;
  margin-top: 30px;
  fill: #ffffff;
}

.products__text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  // width: 200px;
  min-height: 124px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: 30px;
}

.products__button {
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-top: 30px;
  padding-top: 5px;
  border-style: none;
}

.products__ice-cream {
  .products__button {
    fill: #b85d74;
  }
  margin-bottom: 129px;
  background: #ffb8ca;
}

.products__ice-coffee {
  .products__button {
    fill: #ad8854;
  }
  margin-bottom: 129px;
  background: #f0d1a5;
}

.products__milkshakes {
  .products__button {
    fill: #88b152;
  }
  background: #c2e297;
}

.products__ice-cream {
  &::before {
    background-image: url(../images/products/pink-ice-cream-320-1x.png);
  }
}

.products__ice-coffee {
  &::before {
    background-image: url(../images/products/ice-cofee-320-1x.png);
  }
}

.products__milkshakes {
  &::before {
    background-image: url(../images/products/milk-sheak-320-1x.png);
  }
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 150px;
  }
  .products__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .products__item {
    height: 485px;
    margin: 0;
    padding-left: 11px;
    padding-right: 11px;
    &::before {
      top: -104px;
      width: 220px;
      height: 233px;
    }
  }

  .products__ice-cream {
    &::before {
      background-image: url(../images/products/pink-ice-cream-768-1x.png);
    }
  }

  .products__ice-coffee {
    &::before {
      background-image: url(../images/products/ice-cofee-768-1x.png);
    }
  }

  .products__milkshakes {
    &::before {
      background-image: url(../images/products/milk-sheak-768-1x.png);
    }
  }
}

@media screen and (min-width: 1280px) {
  .products__title {
    margin-bottom: 259px;
  }

  .products__list {
    gap: 30px;
  }

  .products__item {
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 525px;
    &::before {
      top: -210px;
      width: 335px;
      height: 335px;
    }
  }

  .products__ice-cream {
    &::before {
      background-image: url(../images/products/pink-ice-cream-1200-1x.png);
    }
  }

  .products__ice-coffee {
    &::before {
      background-image: url(../images/products/ice-cofee-1200-1x.png);
    }
  }

  .products__milkshakes {
    &::before {
      background-image: url(../images/products/milk-sheak-1200-1x.png);
    }
  }
}
